{% extends 'blog/base.html' %}
{% block content %}
    <div class="jumbotron">
        <h2>Please Login</h2>
        <h3>Note: You must be a SuperUser</h3>

        {% if form.errors %}
        <h3>Your email and password didn't match.</h3>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Login">
                <input type="hidden" name="next" value="{{next}}">


        </form>

    </div>
{% endblock %}